# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
TestResults/
*.pdb

# EF / Migrations (si deseas ignorar builds)
**/Migrations/**/bin/
**/Migrations/**/obj/

# Secret files
appsettings.*.json
secrets.json
*.pfx
*.jks
*.keystore

# Node / Vue
node_modules/
dist/
npm-debug.log
yarn-error.log

# Android / Gradle
/.gradle/
/.gradle/
/local.properties
**/build/
**/captures/
**/*.keystore
**/*.jks

# JetBrains Rider
.idea/

# Mac / Windows OS files
.DS_Store
Thumbs.db
